<!DOCTYPE html>
<head>
  <title>Pushin P</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Pushin P</h3>
  <form action="/" method="post">
    <input type="text" name="brand_name" placeholder="Jack In The Box" required />
    <input type="text" name="brand_description" placeholder="American Fast Food Chain" required />
    <input type="text" name="product_description" placeholder="General Brand Awareness" required />
    <input type="text" name="target_demo" placeholder="16-23 year olds in urban cities" required />
    <input type="text" name="budget" placeholder="$50000" required />
    <input type="text" name="campaign_launch_time" placeholder="9/23" required />
    <input type="text" name="launch_date_reason" placeholder="(optional) labor day holidays" />
    <input type="submit" value="Generate Ideas" />
  </form>
  {% if results %}
  <table>
  <h1>Results</h1>
  {% for item in request.args.get('results', '').split(', ,') %}
    <div>{{ item }}</div>
  {% endfor %}
  </table>
  {% endif %}


</body>